* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    color: #fff;
    background-color: #18191a;
}
#music {
    padding-top: 5px;
}

#video {
    background-color: #fff;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #333333;
    display: flex;
}
.navbar-iconbar {
    position: absolute;
    font-size: 2.8rem;
    right: 15px;
    top: 5px;
    opacity: 0;
}
.navbar-list__item {
    width: 100px;
    height: 40px;
}
.navbar-list__item-link {
    width: 100px;
    height: 46px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.6rem;
}
.navbar-list__item:hover {
    height: calc(100% + 6px);
    background-color: #444444;
}
.my_tunes__home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../IMG/showcase2.jpeg);
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-size: 100% 100%;
}
.my_tunes__home__text {
    width: 85%;
    margin-bottom: 10%;
}

.my_tunes__home--title {
    text-align: center;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 102.4px;
}
.my_tunes__home--caps {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 51.2px;
}
.my_tunes__home--content {
    text-align: center;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 33.8px;
}
.music__contaier {
    width: 85%;
    padding: 2rem 0;
    margin: 0 auto;
}
.music__contaier--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.music__contaier--titleAndIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.music__contaier--title {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-left: 10px;
    line-height: 5rem;
}
.music__contaier--title2 {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 5.1rem;
}
.music__contaier--caps {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.2rem;
    margin: 0 48px;
}
.music__contaier--text button {
    width: 168px;
    height: 58px;
    background-color: #d3071b;
    color: #fff;
    margin: 16px 0;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}
.music__contaier--footer {
    text-align: center;
    margin: 16px 0;
    font-size: 1.6rem;
}

.video__contaier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 11%;
    margin: 0 auto;
    background-color: #fff;
    /* padding: 64px 20px; */
}
.video__text {
    color: #333339;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video__contaier button {
    text-align: center;
    background: #143f85;
    color: #ffffff;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    /* padding: 16px; */
    width: 105px;
    height: 58px;
}
.video__text--title {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 5.1rem;
    margin: 32px 0;
}
.video__text--caps {
    text-align: center;
    font-size: 2rem;
    line-height: 3.3rem;
    margin: 20.8px 48px;
}
.entertainment {
    width: 100%;
    background-image: url(../IMG/section-bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
}
.entertainment__text {
    width: 80%;
    padding: 18rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.entertainment__title {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 5.1rem;
}
.entertainment__caps {
    text-align: center;
    font-size: 2rem;
    line-height: 3.3rem;
    margin: 20.8px 48px;
}

.gift__container {
    background-color: #fff;
}
.gift__container--info {
    display: flex;
    margin: 0px 170px;
    padding: 2rem 0;
}
.gift__text {
    color: #333353;
}
.gift__container--info img {
    margin-left: 20px;
}
.gift--title {
    font-size: 2.4rem;
    line-height: 500;
    line-height: 3.8rem;
    margin: 20px 0;
}
.gift--caps {
    margin: 16px 0;
    font-size: 1.6rem;
    line-height: 25.6px;
}
.gift--caps2 {
    margin: 16px 0;
    font-size: 1.6rem;
    line-height: 25.6px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.623);
}
.redeem {
    display: flex;
    font-size: 1.6rem;
    align-items: center;
}
.redeem a {
    text-decoration: none;
    color: #333333;
    padding-left: 5px;
}
.footer {
    background-color: #252529;
    height: 298px;
    width: 100%;
}
.footer__contaier {
    height: 100%;
    margin: 0px 16.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__contaier__box {
    width: 223px;
    margin-left: 20px;
}
.footer__title {
    font-size: 1.8rem;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(153, 153, 153, 0.568);
}
.footer__content-list {
    padding: 0;
    padding-top: 15px;
}
.footer__content {
    list-style: none;
    font-size: 1.5rem;
    line-height: 2.4rem;
    cursor: pointer;
    color: #cccccc;
}
.footer__copyright {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}
.copyright {
    font-size: 1.6rem;
}
